<header>
    <nav>
        <a id="logo-container" href="/">
            <img src="/img/shopynet-logo.webp" alt="ShopyNet logo">
            <span>ShopyNet</span>
        </a>
        <div>
            <button id="user-button"><a href="/login"><i class="fa-solid fa-user" style="color: #000000;"></i></a></button>
            <button id="cart-button"><i class="fa-solid fa-cart-shopping" style="color: #000000;"></i></button>
        </div>
    </nav>
</header>


<section id="main">
  <h1>Panel de Administración de Productos</h1>
  <h2>Crear nuevo producto</h2>
  <form id="createForm">
    <input type="text" name="title" placeholder="Título" required />
    <input type="text" name="description" placeholder="Descripción" required />
    <input type="number" name="price" placeholder="Precio" required />
    <input type="number" name="stock" placeholder="Stock" required />
    <input type="text" name="thumbnail" placeholder="URL de imagen" required />
    <button type="submit">Crear</button>
  </form>
</section>

<section id="admin-products-container">
  <h2>Lista de productos</h2>
  <div id="productsContainer"></div>
</section>

<script src="/js/admin.js" defer></script>
<script src="/js/adminProducts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
