<nav>
    <a id="logo-container" href="/">
        <img src="https://imgs.search.brave.com/ruD94iNhT4-dcL8jQR-YELW0ad94Hf-03sN-4bIOuTc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jb21w/YW5pZXNsb2dvLmNv/bS9pbWcvb3JpZy9N/RUxJLWVjMGMwZTRm/LnBuZz90PTE3MjAy/NDQ0OTI" alt="logo">
        <span>Mercadito DB</span>
    </a>
    <div>
        <button id="user-button"><a href="/login"><i class="fa-solid fa-user" style="color: #000000;"></i></a></button>
        <button id="cart-button"><i class="fa-solid fa-cart-shopping " style="color: #000000;"></i></button>
    </div>
</nav>

<div id="main-login">
    <h1>Registrate</h1>
    <div id="form-container">
        <form id="register">
            <label for="first-name">Nombre</label>
            <input type="text" id="first-name" placeholder="Nombre" required>

            <label for="last-name">Apellido</label>
            <input type="text" id="last-name" placeholder="Apellido" required>

            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Email" required>

            <label for="age">Edad</label>
            <input type="number" id="age" placeholder="Edad" required>

            <label for="password">Contraseña</label>
            <input type="password" id="password" placeholder="Contraseña" required>

            <button type="submit">Registrarme</button>
        </form>
    </div>
    <p>¿Ya estás registrado? <a href="/login">Inicia sesion acá</a></p>
</div>

<script src="js/register.js" type="module"></script>