<link rel="stylesheet" href="/css/style.css">
<header>
    <nav>
        <a id="logo-container" href="/">
            <img src="/img/shopynet-logo.webp" alt="ShopyNet logo">
            <span>ShopyNet</span>
        </a>
        <div>
            <button id="user-button"><a href="/login"><i class="fa-solid fa-user" style="color: #000000;"></i></a></button>
            <button id="cart-button"><i class="fa-solid fa-cart-shopping" style="color: #000000;"></i></button>
        </div>
    </nav>
</header>

<section id="main">
    <h1>Restablecer Contrase単a</h1>

    <form id="resetForm">
    <label>Nueva contrase単a</label>
    <input type="password" id="password" required />

    <label>Confirmar contrase単a</label>
    <input type="password" id="confirm" required />

    <button type="submit">Guardar nueva contrase単a</button>
    </form>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/resetPassword.js" type="module"></script>
