*{
    font-family: "Lato", serif;
    font-weight: 400;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background: linear-gradient(135deg,rgba(250, 247, 247, 1) 0%, rgba(242, 242, 242, 1) 50%);
}

a{
    color: #080808;
}

.logo-conainer{
    display: flex;
}

nav{
    position: fixed;
    background-color: #ececec;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    color: rgb(0, 0, 0);
}

nav button{
    height: 30px;
}

nav span{
    font-size: 1.5rem;
    font-weight:900;
}

nav a{
    display: flex;
    column-gap:10px;
    text-decoration: none;
    color: #2D3277;
    font-weight: bold;
}

nav img{
    height: 35px;
}

#user-button{
    top: 15px;
    right: 60px;
    position: absolute;
    z-index: +1;
    background-color: #ffff;
}

#user-button:hover{
    background-color: #eeca55;
    color: aliceblue;
    transition: all 5ms;
}

#cart-button{
    top: 15px;
    right: 20px;
    position: absolute;
    z-index: +1;
    background-color: #ffff;
}

#cart-button:hover{
    background-color: #eeca55;
    color: aliceblue;
    transition: all 5ms;
}

#cart-container{
    position: fixed;
    top: 55px;
    right: 0;
    width: 400px;
    height: 100vh;
    background: #1e1e1e;
    color: #fff;
    padding: 2rem;
    box-shadow: -5px 0 15px rgba(0,0,0,0.4);
    z-index: 999;
    overflow-y: auto;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

#cart-container .cart-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: 600;
  color: #FFD60A;
}

#cart-container .cart-item {
  background: #2a2a2a;
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item h3 {
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  color: #FFD60A;
}

.cart-item p {
  margin: 0;
  font-size: 0.9rem;
  color: #ccc;
}

.decrease-quantity {
  background-color: #ff4d4d;
  border-radius: 2px;
  padding: 0 5px;
  font-size: large;
  text-align: center;
  border: none;
  cursor: pointer;
}

#clear-cart {
  background: #FFD60A;
  border: none;
  border-radius: 8px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}

#clear-cart:hover {
  background: #e6c309;
}

#cart-total {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  color: #FFD60A;
  margin-top: 1rem;
}

#hero {
    margin-top: 60px;
    background-image: url(../img/hero.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #FFCC1A;
    width: 100%;
    height: 95vh;
}

#principal{
    display: flex;
}

.decrease-quantity{
    height: 25px;
    background-color: #e75656;
    color: #080808;
}

#cart-items{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.cart-item{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 0.5px gray;
    padding: 10px;
}

.cart-item p{
    padding-right: 20px;
}

#clear-cart{
    margin-top: 2rem;
    margin-left: 40%;
}

.decrease-quantity:hover{
    background-color: #ee3535;
    transition: all 5ms;
}

.hidden{
    display: none;
}

button{
    margin-right: auto;
    margin-left: auto;
    color: aliceblue;
    padding: 5px 10px;
    border-radius: 16px;
    border: solid 0.5px gray;
    background-color: #080808;
    cursor: pointer;
}

button:hover{
    background-color: #FFE600;
    color: #080808;
    transition: all 0.5s;
}

#products-container{
    text-align: center;
    margin: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.5rem;
    column-gap: 20px;
}
#products-container p{
    font-size: x-large;
    font-weight: bold;
    color: #FFCC1A;
}
#products-container .product-card{
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-items: center;
    text-align: center;
    border-radius: 16px;
    padding: 3rem;
    border: 0.5px gray;
    box-shadow: 10px 10px 78px -37px rgba(0,0,0,0.75);
}
#products-container .product-card img{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.pagination{
    text-align: center;
    margin-bottom: 2rem;
}
.pagination span{
    padding: 0 15px;
}

#select-container{
    margin: 3rem 1rem;
}
#select-container select{
    margin-top: 10px;
    padding: 5px 10px;
    border: 0.5px gray;
    background-color: #080808;
    color: aliceblue;
}

#detail-container{
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
}

#detail-container img{
    height: 350px;
}

#detail-container #detail-info{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

#detail-container #detail-info #price-container{
    color: green;
    font-size: larger;
    font-weight: bold;
    margin-left: 20px;
}

#back-to-home{
    color: #080808;
    margin-left: 45%;
    margin-bottom: 2rem;
}   

a:hover{
    text-decoration: none;
}

#main{
    padding-bottom: 3rem;
}

#main h1, h2{
    text-align: center;
    margin: 3rem 2rem;
}

#main p{
    font-weight: bold;
    margin-top: 3rem;
    text-align: center;
}

#main a{
    text-decoration: none;
    color: #FFD60A;
}

#main a:hover{
    text-decoration: underline;
}

#main form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background: #FFD60A;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
}

#main label {
    margin-bottom: 5px;
    font-weight: bold;
}

#main input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#admin-products-container h2{
    text-align: center;
}

#admin-products-container #productsContainer{
    margin: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.5rem;
    column-gap: 20px;
}

#admin-products-container #productsContainer p{
    color: #2b702b;
}

#admin-products-container #productsContainer .product-card{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-items: center;
    text-align: center;
    border-radius: 16px;
    padding: 3rem;
    border: 0.5px gray;
    box-shadow: 10px 10px 78px -37px rgba(0,0,0,0.75);
}

#admin-products-container #productsContainer img{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}



